# 파일을 복사해서 .env 이름의 파일을 생성해주세요.
# 환경변수를 추가한 후, 꼭 /src/configuration/configuration.ts 파일을 수정해주세요.


# 데이터베이스 설정
DB_HOSTNAME=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# 앱 설정
PORT=3000
APP_ENV=local

# prisma cli 설정, 아래 [] 있는 부분을 위에 적은 데이터베이스 설정으로 치환하기
PRISMA_URL=
